
pre.highlight {
    margin-bottom: 1.6rem;
    padding: .8rem 1.2rem;
    background: #faf9f9;
    box-shadow: 0 0 0 1px #eee;
    overflow: scroll;
    width = 100%
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}
